/* 
Colors:
peach-red:  #E08283;
light-red:  #F62459;
coral-red:  #D2527F;
deep-pink:  #DB0A5B; 

Yellow: 
ddark-yellow: #F89406;
light-yellow: #F5D76E;

*/

/* CSS Reset 🎈🎈🎈 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

/* End of Reset */

/* Start of header styling */

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(245, 216, 110, 0.808), rgba(248, 147, 6, 0.801)), url(../img/halls.jpg);
  background-size: cover;
  background-position: center;
  /* moving from left to right clockwise */
  /* to get a triangle polygon(50% 0%, 25% 50%, 0% 100%, 100% 100%) */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: -20px;
  left: 20px;
}

.logo {
  max-width: 80px;
}

.text__box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* background-color: red; */
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading__primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 40px;
}

.heading__primary__main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 45px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.heading__primary__sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 7.3px;
  animation-name: moveInRight;
  animation-duration: 2s;
}

/* Animation on the header */

@keyframes moveInLeft {
  /* Start of animation */
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  /* finish of animation */
  100% {
    opacity: 1;
    transform: translate(0);
    color: white;
  }
}

@keyframes moveInRight {
  /* Start of animation */
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  /* finish of animation */
  100% {
    opacity: 1;
    transform: translate(0);
    color: white;
  }
}

@keyframes moveInBottom {
  /* Start of animation */
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  /* finish of animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Header button */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.btn:active {
  /* this would give the button a pressed down feel */
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #ffff;
}

.btn:hover::after {
  transform: scale(1.2);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .4s ease-out .75s;
  /* delays animation to stsrt from 0 opacity */
  animation-fill-mode: backwards;
}