@charset "UTF-8";
/* Start of header styling */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(245, 215, 110, 0.808), rgba(248, 148, 6, 0.801));
  /* background-image: linear-gradient(to right bottom, rgba(245, 216, 110, 0.808), rgba(248, 147, 6, 0.801)), url(../img/halls.jpg); */
  background-size: cover;
  background-position: center;
  /* moving from left to right clockwise */
  /* to get a triangle polygon(50% 0%, 25% 50%, 0% 100%, 100% 100%) */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: -2rem;
    left: 2rem; }
  .header__logo {
    max-width: 8rem; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: block;
    clear: both; }
  .row [class^='col-'] {
    background-color: orangered;
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 12rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 18rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 12rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 18rem) / 4) + 6rem); }

/* Header button */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.2);
    opacity: 0; }

.btn:active {
  /* this would give the button a pressed down feel */
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white::after {
    background-color: #ffff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.4s ease-out 0.75s;
  /* delays animation to stsrt from 0 opacity */
  animation-fill-mode: backwards; }

/* Animation on the header */
@keyframes moveInLeft {
  /* Start of animation */
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  /* finish of animation */
  100% {
    opacity: 1;
    transform: translate(0);
    color: white; } }

@keyframes moveInRight {
  /* Start of animation */
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  /* finish of animation */
  100% {
    opacity: 1;
    color: white;
    transform: translate(0); } }

@keyframes moveInBottom {
  /* Start of animation */
  0% {
    opacity: 0;
    transform: translateY(50px); }
  /* finish of animation */
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 4.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 7.3px;
    animation-name: moveInRight;
    animation-duration: 2s; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

/* CSS Reset 🎈🎈🎈 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10/16px = 0.625 in percentage */ }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box; }

/* End of Reset */
