// peach-red:  #E08283;
// light-red:  #F62459;
// coral-red:  #D2527F;
// deep-pink:  #DB0A5B;
// Yellow:
// dark-yellow: #F89406;
// light-yellow: #F5D76E;

// colors
$color-primary-light: #f5d76e;
$color-primary-dark: #f89406;
$color-gray: #777;
$color-white: white;
$color-black: #000;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
