@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'pages/home';
@import 'layouts/header';
@import 'layouts/grid';
@import 'layouts/footer';

@import 'components/button';
@import 'components/card';
@import 'components/composition';
@import 'components/feature-box';
@import 'components/form';
@import 'components/story';
@import 'components/bg-video';

@import 'base/base';
@import 'base/animation';
@import 'base/typography';
@import 'base/utilities';

h2 {
  font-style: 20px;
}
